.data {
    margin-top: 2rem;
    max-width: 900px;
    min-height: 400px;
    margin: 2rem auto 2rem auto;
   // background: #00c0c0;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;


    article {
        max-width: 400px;
        min-width: 300px;
       
        background: rgba(58, 167, 240, 0.37);
        flex: 1;
        border-radius: 20px;
        margin: 1rem;
        position: relative;
        transition: all ease-in-out .4s;
        box-shadow:
  0 4.5px 3.6px -19px rgba(0, 0, 0, 0.024),
  0 12.5px 10px -19px rgba(0, 0, 0, 0.035),
  0 30.1px 24.1px -19px rgba(0, 0, 0, 0.046),
  0 100px 80px -19px rgba(0, 0, 0, 0.07)
;

        &:hover {
            box-shadow:
  0 4.5px 3.7px -1px rgba(0, 0, 0, 0.035),
  0 12.5px 10.3px -1px rgba(0, 0, 0, 0.05),
  0 30.1px 24.7px -1px rgba(0, 0, 0, 0.065),
  0 100px 82px -1px rgba(0, 0, 0, 0.1)
;
        }


        h3 {
            text-align: center;
            //display: inline-block;
            padding: .5rem;
        }

        .score {
            display: inline-block;
            background-color: violet;
            font-size: 1.2rem;
            margin-top: .5rem;
            margin-left: .5rem;
            padding: .5rem;
            border-radius: 20px;
        }

        .text {
            padding: 1rem;
            margin-bottom: 4rem;
        }

        .read {
            background-color: #34bb62;
            display: inline-block;
            border-radius: 20px;
            margin-left: 2rem;
            position: absolute;
            bottom: 2rem;

            a {
                text-decoration: none;
                font-size: 1.4rem;
                padding: 2rem 1rem;
                color: rgb(2, 15, 2);
                font-weight: bold;
            }
        }
    }
}