.data {
    margin-top: 2rem;
    max-width: 900px;
    min-height: 400px;
    margin: 2rem auto 2rem auto;
   // background: #00c0c0;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;


    article {
        max-width: 400px;
        min-width: 300px;
        height: 500px;
        background: rgb(58, 167, 240);
        flex: 1;
        border-radius: 20px;
        margin: 1rem;

        h3 {
            text-align: center;
        }
    }
}