.data {
    margin-top: 2rem;
    max-width: 900px;
    min-height: 400px;
    margin: 2rem auto 2rem auto;
   // background: #00c0c0;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;


    article {
        max-width: 400px;
        min-width: 300px;
        height: 500px;
        background: rgb(58, 167, 240);
        flex: 1;
        border-radius: 20px;
        margin: 1rem;
        position: relative;

        h3 {
            text-align: center;
            //display: inline-block;
            padding: .5rem;
        }

        .score {
            display: inline-block;
            background-color: violet;
            font-size: 1.2rem;
            margin-top: .5rem;
            margin-left: .5rem;
            padding: .5rem;
            border-radius: 20px;
        }

        .text {
            padding: 1rem;
        }

        .read {
            background-color: rgb(205, 112, 50);
            display: inline-block;
            border-radius: 20px;
            margin-left: 2rem;
            position: absolute;
            bottom: 2rem;

            a {
                text-decoration: none;
                font-size: 1.4rem;
                padding: 2rem 1rem;
                color: rgb(2, 15, 2);
                font-weight: bold;
            }
        }
    }
}