
@mixin phone {
    @media (max-width: 599px) {
      @content;
    }
  }
.subName {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    
    margin-bottom: 2rem;

    * > {
        flex: 1;
    }

    .active {
        background-color: tomato;
       
       
        font-weight: bold;
       
        box-shadow: 0 20px 60px -5px rgba(0,0,0,0.3), 0 7px 36px -10px rgba(0,0,0,0.33);
        transition: all ease-in-out .3s;
        margin-bottom: .5rem;
    }

    button {
        background: #51bbad;
        border: none;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      
        padding: .5rem 1rem;
        font-weight: bold;
        font-size: 1.5rem;
        box-shadow: 0 20px 60px -5px rgba(0,0,0,0.3), 0 7px 36px -10px rgba(0,0,0,0.33);
        transition: all ease-in-out .3s;
        margin-bottom: .5rem;

        &:hover {
            cursor: pointer;
            box-shadow: 0 30px 80px 3px rgba(0,0,0,0.3), 0 20px 50px -10px rgba(0,0,0,0.3);

        }

        &:focus {
            outline: none;
        }

        @include phone {
            font-size: 1rem;
            padding: .3rem .3rem .3rem .5rem;
        }
    } 

    input {
        border-radius: 20px;
        border: none;
    }

    .addbutton {
        background: slateblue;
    }

}

.list {
    display: flex;
    height: 50px;
    margin-left: .5rem;
    margin-right: .5rem;

    @include phone {
        height: 40px;
    }

    img {
        height: 42px;
        background-color: #51bbad;
        padding: 4px 7px 4px 4px;
        margin-bottom: .5rem;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-left: 1px solid black;

        @include phone {
          height: 32px;

        }

        &:hover {
            cursor: pointer;
        }

    }

}


