.main {
    background: #fff;
    height: 100vh;

    h1 {
        text-align: center;
        padding-top: 4rem;
        font-size: 3rem;
    }


}

.subName {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;

    * > {
        flex: 1;
    }

    button {
        background: tomato;
        border: none;
        border-radius: 20px;
        padding: 1rem;
        font-weight: bold;
        font-size: 1.7rem;
        &:hover {
            cursor: pointer;
        }
    } 

}


.data {
    margin-top: 2rem;
    max-width: 900px;
    min-height: 400px;
    margin: 2rem auto 2rem auto;
    background: #00c0c0;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;


    article {
        max-width: 400px;
        min-width: 300px;
        height: 500px;
        background: tan;
        flex: 1;
        border-radius: 20px;
        margin: 1rem;

        h3 {
            text-align: center;
        }
    }
}