
@mixin phone {
    @media (max-width: 599px) {
      @content;
    }
  }
.main {
    background: #fff;
    max-width: 900px;
    margin: 0 auto;

    h1 {
        text-align: center;
        padding-top: 0;
        font-size: 3rem;
       
        margin-bottom: 1rem;

        @include phone {
            font-size: 1.3rem;
            margin-top: 14px;
        }
    }

    h3 {
        text-align: center;
    }


}

// .subName {
//     max-width: 900px;
//     margin: 0 auto;
//     display: flex;
//     flex: 1;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     margin-bottom: 2rem;

//     * > {
//         flex: 1;
//     }

//     button {
//         background: tomato;
//         border: none;
//         border-radius: 20px;
//         padding: 1rem;
//         font-weight: bold;
//         font-size: 1.7rem;
//         box-shadow: 0 20px 60px -5px rgba(0,0,0,0.3), 0 7px 36px -10px rgba(0,0,0,0.33);
//         transition: all ease-in-out .3s;

//         &:hover {
//             cursor: pointer;
//             box-shadow: 0 30px 80px 3px rgba(0,0,0,0.3), 0 20px 50px -10px rgba(0,0,0,0.3);

//         }
//     } 

// }


// .load {
//     max-width: 900px;
//     min-width: 300px;
//     margin: 0 auto;

//     img {
//         object-fit: cover;
//         width: 100%;
//         animation: App-logo-spin infinite 20s linear;
//     }
// }

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

  .select {
      max-width: 900px;
      border: 1px solid blue;
      margin: 0 auto;

      button {
          background: red;
          border: none;
          border-radius: 20px;
          font-size: 1.3rem;
          padding: .5rem 1rem;

          &:focus {
              outline: none;
          }
      }
  }


  input {
    border-radius: 20px;
    border: none;
    height: 42px;
    font-size: 1.2rem;
    border-radius: 20px;
    border: 5px solid tomato;
    margin-top: .5rem;
    padding-left: .5rem;
    @include phone {
        padding-left: .5rem;
        font-size: 1rem;
        margin-top: 0;
        height: 32px;
        border: 2px solid tomato;
    }

    &:focus {
        outline: none;
    }

}

.addbutton {
    background: tomato;
    font-size: 1.3rem;
    height: 42px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    //padding: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-left: .5rem;
    margin-top: .5rem;
    box-shadow: 0 20px 60px -5px rgba(0,0,0,0.3), 0 7px 36px -10px rgba(0,0,0,0.33);
    transition: all ease-in-out .3s;

    @include phone {
        height: 32px;
        font-size: 1rem;
        margin-top: 0;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 30px 80px 3px rgba(0,0,0,0.3), 0 20px 50px -10px rgba(0,0,0,0.3);

    }
    
    
}

.pick {
    max-width: 400px;
    margin: 0 auto;
   //border: 1px solid red;
   
}

.addyourown {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    margin-bottom: 0;
    //height: 50px;
   
}

.error {
    text-align: center;
    color: red;
    font-size: 1.3rem;
    height: 2rem;
   
    
    p {
        margin: 0;
        padding: 0;
    }

  

    .grow {
       opacity: 0;
        animation: fade 4s;
       
       margin: 0;
    margin-right: 75px;
    }
}

@keyframes fade {
    0% {opacity: 0}
    10% {opacity: .7}
    20% {opacity: 1}
    80% {opacity: 1}
    90% {opacity: .7}
    100% {opacity: 0}
}

