
@mixin phone {
    @media (max-width: 599px) {
      @content;
    }
  }
.main {
    background: #fff;
    max-width: 900px;
    margin: 0 auto;

    h1 {
        text-align: center;
        padding-top: 0;
        font-size: 3rem;
        margin: 0;
        margin-bottom: 1rem;
    }

    h3 {
        text-align: center;
    }


}

// .subName {
//     max-width: 900px;
//     margin: 0 auto;
//     display: flex;
//     flex: 1;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     margin-bottom: 2rem;

//     * > {
//         flex: 1;
//     }

//     button {
//         background: tomato;
//         border: none;
//         border-radius: 20px;
//         padding: 1rem;
//         font-weight: bold;
//         font-size: 1.7rem;
//         box-shadow: 0 20px 60px -5px rgba(0,0,0,0.3), 0 7px 36px -10px rgba(0,0,0,0.33);
//         transition: all ease-in-out .3s;

//         &:hover {
//             cursor: pointer;
//             box-shadow: 0 30px 80px 3px rgba(0,0,0,0.3), 0 20px 50px -10px rgba(0,0,0,0.3);

//         }
//     } 

// }


// .load {
//     max-width: 900px;
//     min-width: 300px;
//     margin: 0 auto;

//     img {
//         object-fit: cover;
//         width: 100%;
//         animation: App-logo-spin infinite 20s linear;
//     }
// }

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

  .select {
      max-width: 900px;
      border: 1px solid blue;
      margin: 0 auto;

      button {
          background: red;
          border: none;
          border-radius: 20px;
          font-size: 1.3rem;
          padding: .5rem 1rem;
      }
  }


  input {
    border-radius: 20px;
    border: none;
    font-size: 1.5rem;
    border-radius: 20px;
    border: 5px solid rgb(81, 187, 173);
    @include phone {
        padding-left: .5rem;
        font-size: 1rem;
    }

}

.addbutton {
    background: rgb(81, 187, 173);
    font-size: 1.4rem;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 1rem;
    margin-left: .5rem;
    margin-top: .5rem;

    @include phone {
        padding: .5rem;
        font-size: 1rem;
        margin-top: 0;
    }
    
    
}

.pick {
    max-width: 400px;
    margin: 0 auto;
   //border: 1px solid red;
   
}

.addyourown {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    margin-bottom: 1rem;
}