
@mixin phone {
    @media (max-width: 599px) {
      @content;
    }
  }

.select {
    max-width: 900px;
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    //border: 1px solid red;

    
     
    h3 {
        margin: 0;
        padding-top: 3px;
        padding-right: 10px;
        padding-left: 5px;
        //margin-right: 10px;
        border: 2px solid tomato;
        border-right: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        @include phone {
            font-size: 1rem;
            //margin-bottom: .5rem;
            padding-bottom: 5px;
        }
    }
    button {
        
        background: rgb(81, 187, 173);
        //margin-left: .5rem;
        //margin-right: .5rem;
        //margin-bottom: .5rem;
        border-color: transparent;
        border-image: none;
        border-left: 1px solid black;
        font-weight: bold;
        //border-radius: 20px;
        font-size: 1.3rem;
        padding: 5px 10px 5px 10px;
        box-shadow: 0 20px 60px -5px rgba(0,0,0,0.3), 0 7px 36px -10px rgba(0,0,0,0.33);
        transition: all ease-in-out .3s;


        


        &:hover {
            cursor: pointer;
            //box-shadow: 0 30px 80px 3px rgba(0,0,0,0.3), 0 20px 50px -10px rgba(0,0,0,0.3);
            background-color: tomato;
        }

        @include phone {
            font-size: 1rem;
        }

        &.active {
            background-color: tomato;
        }

        &:focus {
            outline: none;
        }
        
    }

    &:last-child {
        border-bottom-right-radius: 10px;
    }
}

